language: rust
sudo: false
rust:
- stable
- nightly
- beta
before_script:
- pip install 'travis-cargo<0.2' --user && export PATH=$HOME/.local/bin:$PATH
script:
- |
  travis-cargo build &&
  travis-cargo test &&
  travis-cargo test -- --no-default-features &&
  travis-cargo doc
after_success:
- travis-cargo --only stable doc-upload
env:
  global:
  - TRAVIS_CARGO_NIGHTLY_FEATURE=""
  - secure: gcqWR8XK2Yo/L9kswJL4/idN4q2ez5bhzo01jXInYKQh8PLKp+oGdxDrxIKbM1o5lzrvg3gaFAElXq4mCC1tBgQ/M9tZ+cxVr/mBQEyEbKbPo4o0KW0VvobGDruXYr820FByn9QCa6YTztzjxasQrQLgUpOVVqMvLfxecCD/hZNSD+ZgiyzFL9fRh5Mlc1/mjJzski06fGcABj/vlSQFX5fvESC2cwJ0ckObxW/ZDclWEk5YFq/q2otKYThA1gbslA4M/ZmUrpGN71DWJvgAmvUqUL/lQvLxtU3cngZfr5Aw2tF2G2LzZUIfnY2UyQQEGmN8Ku9rADCIPUPD0ccZf/XLLNSEwsxf0tDQtOZ4DA7iLgXgPgzUvVd/mXVnzVfF3JPEWuYkd2P1wMzuxbNgv3iKSuZjalYr4rXpu3bwzoKruIF7zmPrNrtg/WF21s887MnkFkZUlFvmhSff1johl18R2mibFcuEEfwDAM4Bn/WhG6tuS/vHTO0mRjMwtsHm+FNWQCcpx2SiED/jha86FXZ+oQfTBr7aVb+k3HRZ/xZtn0sK4yaGJsCVXoEzdTMCyRUASMkIcHCyo524L8G5fNXUKSNuEpV1gFENVmcG5MZf5OelWzE5t667I/AgGPxZSEOsJlFaln5m2eijCRYY1PfAfTixyrECdOnpjnzjJdM=
